<p id="notice"><%= notice %></p>

<h2>Ideas</h2>

<div class="table-responsive"> 
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr class="warning">
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= idea.picture %></td>
        <td><%= link_to 'View', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Delete', idea, method: :delete, data: { confirm: 'Are you sure you want to delete this idea?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="table-responsive"> 
<br>

<%= link_to 'New Idea', new_idea_path %>
